{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Para Hacer Deploy</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Atención</h4>
        <p class="mb-0">Este proyecto forma parte del curso Deploy Django en Udemy, elaborado por Daniel Bojorge, <a href="https://facebook.com/debsconsultores" target="_blank" class="alert-link">Síguenos</a>.</p>
      </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Deploy DJ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'app:modelo_list' %}">Lista
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'app:new' %}">Nuevo</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          {% block content%}
          {% endblock %}
        </div>
      </div>
</body>
</html>